{
  "openapi": "3.0.1",
  "info": {
    "title": "PaquetWAVESMODELS",
    "description": "Obtenir les paquets de données publiques des modèles de vague.",
    "contact": {
      "name": "API Support",
      "url": "https://portail-api.meteofrance.fr/authenticationendpoint/aide.do",
      "email": "vd@meteo.fr"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://public-api.meteofrance.fr/previnum/DPPaquetWAVESMODELS/v1"
    },
    {
      "url": "http://public-api.meteofrance.fr:8280/previnum/DPPaquetWAVESMODELS/v1"
    }
  ],
  "security": [
    {
      "default": []
    }
  ],
  "tags": [
    {
      "name": "MFWAM",
      "description": "Services de téléchargement des paquets de données du modèle de prévision de vagues (MFWAM)"
    },
    {
      "name": "WW3ARP MED",
      "description": "Services de téléchargement des paquets de données du modèle de prévision de vagues  haute résolution (WW3) forcé par les vents du modèle Arpege sur le domaine Méditerranée"
    },
    {
      "name": "WW3ARP ATL",
      "description": "Services de téléchargement des paquets de données du modèle de prévision de vagues  haute résolution (WW3) forcé par les vents du modèle Arpege sur le domaine Atlantique"
    },
    {
      "name": "WW3ARO MED",
      "description": "Services de téléchargement des paquets de données du modèle de prévision de vagues  haute résolution (WW3) forcé par les vents du modèle Arome sur le domaine Méditerranée"
    },
    {
      "name": "SURCOTE ARPEGE MED",
      "description": "Services de téléchargement des paquets de données du modèle de surcote océanique (HYCOM2D) forcé par le modèle Arpege sur le domaine Méditerranée"
    },
    {
      "name": "SURCOTE ARPEGE ATL",
      "description": "Services de téléchargement des paquets de données du modèle de surcote océanique (HYCOM2D) forcé par le modèle Arpege sur le domaine Atlantique"
    },
    {
      "name": "SURCOTE AROME MED",
      "description": "Services de téléchargement des paquets de données du modèle de surcote océanique (HYCOM2D) forcé par le modèle Arome sur le domaine Méditerranée"
    },
    {
      "name": "SURCOTE AROME ATL",
      "description": "Services de téléchargement des paquets de données du modèle de surcote océanique (HYCOM2D) forcé par le modèle Arome sur le domaine Atlantique"
    }
  ],
  "paths": {
    "/models/MFWAM": {
      "get": {
        "tags": [
          "MFWAM"
        ],
        "summary": "Obtenir une description du modèle",
        "description": "Renvoie une description du modèle MFWAM.",
        "operationId": "getMFWAMModel",
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/MFWAM/grids": {
      "get": {
        "tags": [
          "MFWAM"
        ],
        "summary": "Télécharger la liste des grilles disponibles pour ce modèle.",
        "description": "Renvoie la liste des grilles disponibles pour ce modèle.",
        "operationId": "getMFWAMGrids",
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          },
          "406": {
            "description": "Erreur de paramètre"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/MFWAM/grids/{grid}": {
      "get": {
        "tags": [
          "MFWAM"
        ],
        "summary": "Obtenir une description de la grille",
        "description": "Renvoie une description de la grille",
        "operationId": "getMFWAMGrid",
        "parameters": [
          {
            "name": "grid",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          },
          "406": {
            "description": "Erreur de paramètre"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/MFWAM/grids/{grid}/packages": {
      "get": {
        "tags": [
          "MFWAM"
        ],
        "summary": "Télécharger la liste des types de paquet disponibles pour ce modèle et une grille.",
        "description": "Renvoie la liste des types de paquet disponibles pour ce modèle et une grille.",
        "operationId": "getMFWAMPackages",
        "parameters": [
          {
            "name": "grid",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          },
          "406": {
            "description": "Erreur de paramètre"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/MFWAM/grids/{grid}/packages/{package}": {
      "get": {
        "tags": [
          "MFWAM"
        ],
        "summary": "Obtenir une description du paquet et la liste des produits disponibles",
        "description": "Renvoie ne description du paquet",
        "operationId": "getMFWAMPackage",
        "parameters": [
          {
            "name": "grid",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "package",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referencetime",
            "in": "query",
            "description": "La date et heure du réseau de diffusion (au format ISO-8601 avec TZ UTC `AAAA-MM-JJThh:mm:ssZ`)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          },
          "406": {
            "description": "Erreur de paramètre"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/MFWAM/grids/{grille}/packages/{paquet}/productMFWAM": {
      "get": {
        "tags": [
          "MFWAM"
        ],
        "summary": "Télécharger via un web service de type REST le fichier de données pour une combinaison de grille/réseau/échéance/paquet",
        "description": "Renvoie un regroupement des paramètres du modèle MFWAM disponibles pour une combinaison : grille/réseau/échéance/paquet",
        "operationId": "getMFWAMProduct",
        "parameters": [
          {
            "name": "grille",
            "in": "path",
            "description": "La grille du modèle",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "paquet",
            "in": "path",
            "description": "Le paquet de paramètres",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referencetime",
            "in": "query",
            "description": "La date et heure du réseau de diffusion (au format ISO-8601 avec TZ UTC `AAAA-MM-JJThh:mm:ssZ`)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "L'échéance demandée (au format `hhhH`)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format de retour des données",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "grib2"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Le format est incorrect"
          },
          "404": {
            "description": "La donnée est indisponible"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/productMFWAM": {
      "get": {
        "tags": [
          "MFWAM"
        ],
        "summary": "Télécharger via un web service de type KVP le fichier de données pour une combinaison de grille/réseau/échéance/paquet",
        "description": "Renvoie un regroupement des paramètres du modèle MFWAM disponibles pour une combinaison : grille/réseau/échéance/paquet",
        "operationId": "getMFWAMProductKVP",
        "parameters": [
          {
            "name": "grid",
            "in": "query",
            "description": "La grille du modèle",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "package",
            "in": "query",
            "description": "Le paquet de paramètres",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referencetime",
            "in": "query",
            "description": "La date et heure du réseau de diffusion (au format ISO-8601 avec TZ UTC `AAAA-MM-JJThh:mm:ssZ`)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "L'échéance demandée (au format `hhhH`)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format de retour des données",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "grib2"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Le format est incorrect"
          },
          "404": {
            "description": "La donnée est indisponible"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/WW3-MARP": {
      "get": {
        "tags": [
          "WW3ARP MED"
        ],
        "summary": "Obtenir une description du modèle",
        "description": "Renvoie une description du modèle WW3.",
        "operationId": "getWMARPModel",
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/WW3-MARP/grids": {
      "get": {
        "tags": [
          "WW3ARP MED"
        ],
        "summary": "Télécharger la liste des grilles disponibles pour ce modèle.",
        "description": "Renvoie la liste des grilles disponibles pour ce modèle.",
        "operationId": "getWMARPGrids",
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          },
          "406": {
            "description": "Erreur de paramètre"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/WW3-MARP/grids/{grid}": {
      "get": {
        "tags": [
          "WW3ARP MED"
        ],
        "summary": "Obtenir une description de la grille",
        "description": "Renvoie une description de la grille",
        "operationId": "getWMARPGrid",
        "parameters": [
          {
            "name": "grid",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          },
          "406": {
            "description": "Erreur de paramètre"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/WW3-MARP/grids/{grid}/packages": {
      "get": {
        "tags": [
          "WW3ARP MED"
        ],
        "summary": "Télécharger la liste des types de paquet disponibles pour ce modèle et une grille.",
        "description": "Renvoie la liste des types de paquet disponibles pour ce modèle et une grille.",
        "operationId": "getWMARPPackages",
        "parameters": [
          {
            "name": "grid",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          },
          "406": {
            "description": "Erreur de paramètre"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/WW3-MARP/grids/{grid}/packages/{package}": {
      "get": {
        "tags": [
          "WW3ARP MED"
        ],
        "summary": "Obtenir une description du paquet et la liste des produits disponibles",
        "description": "Renvoie ne description du paquet",
        "operationId": "getWMARPPackage",
        "parameters": [
          {
            "name": "grid",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "package",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referencetime",
            "in": "query",
            "description": "La date et heure du réseau de diffusion (au format ISO-8601 avec TZ UTC `AAAA-MM-JJThh:mm:ssZ`)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          },
          "406": {
            "description": "Erreur de paramètre"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/WW3-MARP/grids/{grille}/packages/{paquet}/productWMARP": {
      "get": {
        "tags": [
          "WW3ARP MED"
        ],
        "summary": "Télécharger via un web service de type REST le fichier de données pour une combinaison de grille/réseau/échéance/paquet",
        "description": "Renvoie un regroupement des paramètres du modèle WW3 disponibles pour une combinaison grille/réseau/échéance/paquet",
        "operationId": "getWMARPProduct",
        "parameters": [
          {
            "name": "grille",
            "in": "path",
            "description": "La grille du modèle",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "paquet",
            "in": "path",
            "description": "Le paquet de paramètres",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referencetime",
            "in": "query",
            "description": "La date et heure du réseau de diffusion (au format ISO-8601 avec TZ UTC `AAAA-MM-JJThh:mm:ssZ`)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "L'échéance demandée (au format `hhhHhhhH`)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format de retour des données",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "nc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Le format est incorrect"
          },
          "404": {
            "description": "La donnée est indisponible"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/productWMARP": {
      "get": {
        "tags": [
          "WW3ARP MED"
        ],
        "summary": "Télécharger via un web service de type KVP le fichier de données pour une combinaison de grille/réseau/échéance/paquet",
        "description": "Renvoie un regroupement des paramètres du modèle WW3 disponibles pour une combinaison grille/réseau/échéance/paquet",
        "operationId": "getWMARPProductKVP",
        "parameters": [
          {
            "name": "grid",
            "in": "query",
            "description": "La grille du modèle",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "package",
            "in": "query",
            "description": "Le paquet de paramètres",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referencetime",
            "in": "query",
            "description": "La date et heure du réseau de diffusion (au format ISO-8601 avec TZ UTC `AAAA-MM-JJThh:mm:ssZ`)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "L'échéance demandée (au format `hhhHhhhH`)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format de retour des données",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "nc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Le format est incorrect"
          },
          "404": {
            "description": "La donnée est indisponible"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/WW3-WARP": {
      "get": {
        "tags": [
          "WW3ARP ATL"
        ],
        "summary": "Obtenir une description du modèle",
        "description": "Renvoie une description du modèle WW3.",
        "operationId": "getWWARPModel",
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/WW3-WARP/grids": {
      "get": {
        "tags": [
          "WW3ARP ATL"
        ],
        "summary": "Télécharger la liste des grilles disponibles pour ce modèle.",
        "description": "Renvoie la liste des grilles disponibles pour ce modèle.",
        "operationId": "getWWARPGrids",
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          },
          "406": {
            "description": "Erreur de paramètre"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/WW3-WARP/grids/{grid}": {
      "get": {
        "tags": [
          "WW3ARP ATL"
        ],
        "summary": "Obtenir une description de la grille",
        "description": "Renvoie une description de la grille",
        "operationId": "getWWARPGrid",
        "parameters": [
          {
            "name": "grid",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          },
          "406": {
            "description": "Erreur de paramètre"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/WW3-WARP/grids/{grid}/packages": {
      "get": {
        "tags": [
          "WW3ARP ATL"
        ],
        "summary": "Télécharger la liste des types de paquet disponibles pour ce modèle et une grille.",
        "description": "Renvoie la liste des types de paquet disponibles pour ce modèle et une grille.",
        "operationId": "getWWARPPackages",
        "parameters": [
          {
            "name": "grid",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          },
          "406": {
            "description": "Erreur de paramètre"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/WW3-WARP/grids/{grid}/packages/{package}": {
      "get": {
        "tags": [
          "WW3ARP ATL"
        ],
        "summary": "Obtenir une description du paquet et la liste des produits disponibles",
        "description": "Renvoie ne description du paquet",
        "operationId": "getWWARPPackage",
        "parameters": [
          {
            "name": "grid",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "package",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referencetime",
            "in": "query",
            "description": "La date et heure du réseau de diffusion (au format ISO-8601 avec TZ UTC `AAAA-MM-JJThh:mm:ssZ`)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          },
          "406": {
            "description": "Erreur de paramètre"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/WW3-WARP/grids/{grille}/packages/{paquet}/productWWARP": {
      "get": {
        "tags": [
          "WW3ARP ATL"
        ],
        "summary": "Télécharger via un web service de type REST le fichier de données pour une combinaison de grille/réseau/échéance/paquet",
        "description": "Renvoie un regroupement des paramètres du modèle WW3 disponibles pour une combinaison grille/réseau/échéance/paquet",
        "operationId": "getWWARPProduct",
        "parameters": [
          {
            "name": "grille",
            "in": "path",
            "description": "La grille du modèle",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "paquet",
            "in": "path",
            "description": "Le paquet de paramètres",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referencetime",
            "in": "query",
            "description": "La date et heure du réseau de diffusion (au format ISO-8601 avec TZ UTC `AAAA-MM-JJThh:mm:ssZ`)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "L'échéance demandée (au format `hhhHhhhH`)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format de retour des données",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "nc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Le format est incorrect"
          },
          "404": {
            "description": "La donnée est indisponible"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/productWWARP": {
      "get": {
        "tags": [
          "WW3ARP ATL"
        ],
        "summary": "Télécharger via un web service de type KVP le fichier de données pour une combinaison de grille/réseau/échéance/paquet",
        "description": "Renvoie un regroupement des paramètres du modèle WW3 disponibles pour une combinaison grille/réseau/échéance/paquet",
        "operationId": "getWWARPProductKVP",
        "parameters": [
          {
            "name": "grid",
            "in": "query",
            "description": "La grille du modèle",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "package",
            "in": "query",
            "description": "Le paquet de paramètres",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referencetime",
            "in": "query",
            "description": "La date et heure du réseau de diffusion (au format ISO-8601 avec TZ UTC `AAAA-MM-JJThh:mm:ssZ`)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "L'échéance demandée (au format `hhhHhhhH`)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format de retour des données",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "nc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Le format est incorrect"
          },
          "404": {
            "description": "La donnée est indisponible"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/WW3-MARO": {
      "get": {
        "tags": [
          "WW3ARO MED"
        ],
        "summary": "Obtenir une description du modèle",
        "description": "Renvoie une description du modèle WW3.",
        "operationId": "getWMAROModel",
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/WW3-MARO/grids": {
      "get": {
        "tags": [
          "WW3ARO MED"
        ],
        "summary": "Télécharger la liste des grilles disponibles pour ce modèle.",
        "description": "Renvoie la liste des grilles disponibles pour ce modèle.",
        "operationId": "getWMAROGrids",
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          },
          "406": {
            "description": "Erreur de paramètre"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/WW3-MARO/grids/{grid}": {
      "get": {
        "tags": [
          "WW3ARO MED"
        ],
        "summary": "Obtenir une description de la grille",
        "description": "Renvoie une description de la grille",
        "operationId": "getWMAROGrid",
        "parameters": [
          {
            "name": "grid",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          },
          "406": {
            "description": "Erreur de paramètre"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/WW3-MARO/grids/{grid}/packages": {
      "get": {
        "tags": [
          "WW3ARO MED"
        ],
        "summary": "Télécharger la liste des types de paquet disponibles pour ce modèle et une grille.",
        "description": "Renvoie la liste des types de paquet disponibles pour ce modèle et une grille.",
        "operationId": "getWMAROPackages",
        "parameters": [
          {
            "name": "grid",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          },
          "406": {
            "description": "Erreur de paramètre"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/WW3-MARO/grids/{grid}/packages/{package}": {
      "get": {
        "tags": [
          "WW3ARO MED"
        ],
        "summary": "Obtenir une description du paquet et la liste des produits disponibles",
        "description": "Renvoie ne description du paquet",
        "operationId": "getWMAROPackage",
        "parameters": [
          {
            "name": "grid",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "package",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referencetime",
            "in": "query",
            "description": "La date et heure du réseau de diffusion (au format ISO-8601 avec TZ UTC `AAAA-MM-JJThh:mm:ssZ`)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          },
          "406": {
            "description": "Erreur de paramètre"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/WW3-MARO/grids/{grille}/packages/{paquet}/productWMARO": {
      "get": {
        "tags": [
          "WW3ARO MED"
        ],
        "summary": "Télécharger via un web service de type REST le fichier de données pour une combinaison de grille/réseau/échéance/paquet",
        "description": "Renvoie un regroupement des paramètres du modèle WW3 disponibles pour une combinaison grille/réseau/échéance/paquet",
        "operationId": "getWMAROProduct",
        "parameters": [
          {
            "name": "grille",
            "in": "path",
            "description": "La grille du modèle",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "paquet",
            "in": "path",
            "description": "Le paquet de paramètres",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referencetime",
            "in": "query",
            "description": "La date et heure du réseau de diffusion (au format ISO-8601 avec TZ UTC `AAAA-MM-JJThh:mm:ssZ`)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "L'échéance demandée (au format `hhhHhhhH`)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format de retour des données",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "nc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Le format est incorrect"
          },
          "404": {
            "description": "La donnée est indisponible"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/productWMARO": {
      "get": {
        "tags": [
          "WW3ARO MED"
        ],
        "summary": "Télécharger via un web service de type KVP le fichier de données pour une combinaison de grille/réseau/échéance/paquet",
        "description": "Renvoie un regroupement des paramètres du modèle WW3 disponibles pour une combinaison grille/réseau/échéance/paquet",
        "operationId": "getWMAROProductKVP",
        "parameters": [
          {
            "name": "grid",
            "in": "query",
            "description": "La grille du modèle",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "package",
            "in": "query",
            "description": "Le paquet de paramètres",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referencetime",
            "in": "query",
            "description": "La date et heure du réseau de diffusion (au format ISO-8601 avec TZ UTC `AAAA-MM-JJThh:mm:ssZ`)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "L'échéance demandée (au format `hhhHhhhH`)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format de retour des données",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "nc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Le format est incorrect"
          },
          "404": {
            "description": "La donnée est indisponible"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/HYCOM2D-MARP": {
      "get": {
        "tags": [
          "SURCOTE ARPEGE MED"
        ],
        "summary": "Obtenir une description du modèle",
        "description": "Renvoie une description du modèle HYCOM2D.",
        "operationId": "getHMARPModel",
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/HYCOM2D-MARP/grids": {
      "get": {
        "tags": [
          "SURCOTE ARPEGE MED"
        ],
        "summary": "Télécharger la liste des grilles disponibles pour ce modèle.",
        "description": "Renvoie la liste des grilles disponibles pour ce modèle.",
        "operationId": "getHMARPGrids",
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          },
          "406": {
            "description": "Erreur de paramètre"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/HYCOM2D-MARP/grids/{grid}": {
      "get": {
        "tags": [
          "SURCOTE ARPEGE MED"
        ],
        "summary": "Obtenir une description de la grille",
        "description": "Renvoie une description de la grille",
        "operationId": "getHMARPGrid",
        "parameters": [
          {
            "name": "grid",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          },
          "406": {
            "description": "Erreur de paramètre"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/HYCOM2D-MARP/grids/{grid}/packages": {
      "get": {
        "tags": [
          "SURCOTE ARPEGE MED"
        ],
        "summary": "Télécharger la liste des types de paquet disponibles pour ce modèle et une grille.",
        "description": "Renvoie la liste des types de paquet disponibles pour ce modèle et une grille.",
        "operationId": "getHMARPPackages",
        "parameters": [
          {
            "name": "grid",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          },
          "406": {
            "description": "Erreur de paramètre"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/HYCOM2D-MARP/grids/{grid}/packages/{package}": {
      "get": {
        "tags": [
          "SURCOTE ARPEGE MED"
        ],
        "summary": "Obtenir une description du paquet et la liste des produits disponibles",
        "description": "Renvoie ne description du paquet",
        "operationId": "getHMARPPackage",
        "parameters": [
          {
            "name": "grid",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "package",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referencetime",
            "in": "query",
            "description": "La date et heure du réseau de diffusion (au format ISO-8601 avec TZ UTC `AAAA-MM-JJThh:mm:ssZ`)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          },
          "406": {
            "description": "Erreur de paramètre"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/HYCOM2D-MARP/grids/{grille}/packages/{paquet}/productHMARP": {
      "get": {
        "tags": [
          "SURCOTE ARPEGE MED"
        ],
        "summary": "Télécharger via un web service de type REST le fichier de données pour une combinaison de grille/réseau/échéance/paquet",
        "description": "Renvoie un regroupement des paramètres du modèle HYCOM2D disponibles pour une combinaison grille/réseau/échéance/paquet",
        "operationId": "getHMARPProduct",
        "parameters": [
          {
            "name": "grille",
            "in": "path",
            "description": "La grille du modèle",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "paquet",
            "in": "path",
            "description": "Le paquet de paramètres",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referencetime",
            "in": "query",
            "description": "La date et heure du réseau de diffusion (au format ISO-8601 avec TZ UTC `AAAA-MM-JJThh:mm:ssZ`)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "L'échéance demandée (au format `hhhH` ou `hhhHhhhH`)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format de retour des données",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "grib2",
                "txt"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Le format est incorrect"
          },
          "404": {
            "description": "La donnée est indisponible"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/productHMARP": {
      "get": {
        "tags": [
          "SURCOTE ARPEGE MED"
        ],
        "summary": "Télécharger via un web service de type KVP le fichier de données pour une combinaison de grille/réseau/échéance/paquet",
        "description": "Renvoie un regroupement des paramètres du modèle HYCOM2D disponibles pour une combinaison grille/réseau/échéance/paquet",
        "operationId": "getHMARPProductKVP",
        "parameters": [
          {
            "name": "grid",
            "in": "query",
            "description": "La grille du modèle",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "package",
            "in": "query",
            "description": "Le paquet de paramètres",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referencetime",
            "in": "query",
            "description": "La date et heure du réseau de diffusion (au format ISO-8601 avec TZ UTC `AAAA-MM-JJThh:mm:ssZ`)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "L'échéance demandée (au format `hhhH` ou `hhhHhhhH`)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format de retour des données",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "grib2",
                "txt"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Le format est incorrect"
          },
          "404": {
            "description": "La donnée est indisponible"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/HYCOM2D-WARP": {
      "get": {
        "tags": [
          "SURCOTE ARPEGE ATL"
        ],
        "summary": "Obtenir une description du modèle",
        "description": "Renvoie une description du modèle HYCOM2D.",
        "operationId": "getHWARPModel",
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/HYCOM2D-WARP/grids": {
      "get": {
        "tags": [
          "SURCOTE ARPEGE ATL"
        ],
        "summary": "Télécharger la liste des grilles disponibles pour ce modèle.",
        "description": "Renvoie la liste des grilles disponibles pour ce modèle.",
        "operationId": "getHWARPGrids",
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          },
          "406": {
            "description": "Erreur de paramètre"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/HYCOM2D-WARP/grids/{grid}": {
      "get": {
        "tags": [
          "SURCOTE ARPEGE ATL"
        ],
        "summary": "Obtenir une description de la grille",
        "description": "Renvoie une description de la grille",
        "operationId": "getHWARPGrid",
        "parameters": [
          {
            "name": "grid",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          },
          "406": {
            "description": "Erreur de paramètre"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/HYCOM2D-WARP/grids/{grid}/packages": {
      "get": {
        "tags": [
          "SURCOTE ARPEGE ATL"
        ],
        "summary": "Télécharger la liste des types de paquet disponibles pour ce modèle et une grille.",
        "description": "Renvoie la liste des types de paquet disponibles pour ce modèle et une grille.",
        "operationId": "getHWARPPackages",
        "parameters": [
          {
            "name": "grid",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          },
          "406": {
            "description": "Erreur de paramètre"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/HYCOM2D-WARP/grids/{grid}/packages/{package}": {
      "get": {
        "tags": [
          "SURCOTE ARPEGE ATL"
        ],
        "summary": "Obtenir une description du paquet et la liste des produits disponibles",
        "description": "Renvoie ne description du paquet",
        "operationId": "getHWARPPackage",
        "parameters": [
          {
            "name": "grid",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "package",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referencetime",
            "in": "query",
            "description": "La date et heure du réseau de diffusion (au format ISO-8601 avec TZ UTC `AAAA-MM-JJThh:mm:ssZ`)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          },
          "406": {
            "description": "Erreur de paramètre"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/HYCOM2D-WARP/grids/{grille}/packages/{paquet}/productHWARP": {
      "get": {
        "tags": [
          "SURCOTE ARPEGE ATL"
        ],
        "summary": "Télécharger via un web service de type REST le fichier de données pour une combinaison de grille/réseau/échéance/paquet",
        "description": "Renvoie un regroupement des paramètres du modèle HYCOM2D disponibles pour une combinaison grille/réseau/échéance/paquet",
        "operationId": "getHWARPProduct",
        "parameters": [
          {
            "name": "grille",
            "in": "path",
            "description": "La grille du modèle",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "paquet",
            "in": "path",
            "description": "Le paquet de paramètres",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referencetime",
            "in": "query",
            "description": "La date et heure du réseau de diffusion (au format ISO-8601 avec TZ UTC `AAAA-MM-JJThh:mm:ssZ`)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "L'échéance demandée (au format `hhhH` ou `hhhHhhhH`)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format de retour des données",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "grib2",
                "txt"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Le format est incorrect"
          },
          "404": {
            "description": "La donnée est indisponible"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/productHWARP": {
      "get": {
        "tags": [
          "SURCOTE ARPEGE ATL"
        ],
        "summary": "Télécharger via un web service de type KVP le fichier de données pour une combinaison de grille/réseau/échéance/paquet",
        "description": "Renvoie un regroupement des paramètres du modèle HYCOM2D disponibles pour une combinaison grille/réseau/échéance/paquet",
        "operationId": "getHWARPProductKVP",
        "parameters": [
          {
            "name": "grid",
            "in": "query",
            "description": "La grille du modèle",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "package",
            "in": "query",
            "description": "Le paquet de paramètres",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referencetime",
            "in": "query",
            "description": "La date et heure du réseau de diffusion (au format ISO-8601 avec TZ UTC `AAAA-MM-JJThh:mm:ssZ`)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "L'échéance demandée (au format `hhhH` ou `hhhHhhhH`)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format de retour des données",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "grib2",
                "txt"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Le format est incorrect"
          },
          "404": {
            "description": "La donnée est indisponible"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/HYCOM2D-MARO": {
      "get": {
        "tags": [
          "SURCOTE AROME MED"
        ],
        "summary": "Obtenir une description du modèle",
        "description": "Renvoie une description du modèle HYCOM2D.",
        "operationId": "getHMAROModel",
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/HYCOM2D-MARO/grids": {
      "get": {
        "tags": [
          "SURCOTE AROME MED"
        ],
        "summary": "Télécharger la liste des grilles disponibles pour ce modèle.",
        "description": "Renvoie la liste des grilles disponibles pour ce modèle.",
        "operationId": "getHMAROGrids",
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          },
          "406": {
            "description": "Erreur de paramètre"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/HYCOM2D-MARO/grids/{grid}": {
      "get": {
        "tags": [
          "SURCOTE AROME MED"
        ],
        "summary": "Obtenir une description de la grille",
        "description": "Renvoie une description de la grille",
        "operationId": "getHMAROGrid",
        "parameters": [
          {
            "name": "grid",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          },
          "406": {
            "description": "Erreur de paramètre"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/HYCOM2D-MARO/grids/{grid}/packages": {
      "get": {
        "tags": [
          "SURCOTE AROME MED"
        ],
        "summary": "Télécharger la liste des types de paquet disponibles pour ce modèle et une grille.",
        "description": "Renvoie la liste des types de paquet disponibles pour ce modèle et une grille.",
        "operationId": "getHMAROPackages",
        "parameters": [
          {
            "name": "grid",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          },
          "406": {
            "description": "Erreur de paramètre"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/HYCOM2D-MARO/grids/{grid}/packages/{package}": {
      "get": {
        "tags": [
          "SURCOTE AROME MED"
        ],
        "summary": "Obtenir une description du paquet et la liste des produits disponibles",
        "description": "Renvoie ne description du paquet",
        "operationId": "getHMAROPackage",
        "parameters": [
          {
            "name": "grid",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "package",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referencetime",
            "in": "query",
            "description": "La date et heure du réseau de diffusion (au format ISO-8601 avec TZ UTC `AAAA-MM-JJThh:mm:ssZ`)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          },
          "406": {
            "description": "Erreur de paramètre"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/HYCOM2D-MARO/grids/{grille}/packages/{paquet}/productHMARO": {
      "get": {
        "tags": [
          "SURCOTE AROME MED"
        ],
        "summary": "Télécharger via un web service de type REST le fichier de données pour une combinaison de grille/réseau/échéance/paquet",
        "description": "Renvoie un regroupement des paramètres du modèle HYCOM2D disponibles pour une combinaison grille/réseau/échéance/paquet",
        "operationId": "getHMAROProduct",
        "parameters": [
          {
            "name": "grille",
            "in": "path",
            "description": "La grille du modèle",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "paquet",
            "in": "path",
            "description": "Le paquet de paramètres",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referencetime",
            "in": "query",
            "description": "La date et heure du réseau de diffusion (au format ISO-8601 avec TZ UTC `AAAA-MM-JJThh:mm:ssZ`)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "L'échéance demandée (au format `hhhH` ou `hhhHhhhH`)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format de retour des données",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "grib2",
                "txt"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Le format est incorrect"
          },
          "404": {
            "description": "La donnée est indisponible"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/productHMARO": {
      "get": {
        "tags": [
          "SURCOTE AROME MED"
        ],
        "summary": "Télécharger via un web service de type KVP le fichier de données pour une combinaison de grille/réseau/échéance/paquet",
        "description": "Renvoie un regroupement des paramètres du modèle HYCOM2D disponibles pour une combinaison grille/réseau/échéance/paquet",
        "operationId": "getHMAROProductKVP",
        "parameters": [
          {
            "name": "grid",
            "in": "query",
            "description": "La grille du modèle",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "package",
            "in": "query",
            "description": "Le paquet de paramètres",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referencetime",
            "in": "query",
            "description": "La date et heure du réseau de diffusion (au format ISO-8601 avec TZ UTC `AAAA-MM-JJThh:mm:ssZ`)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "L'échéance demandée (au format `hhhH` ou `hhhHhhhH`)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format de retour des données",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "grib2",
                "txt"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Le format est incorrect"
          },
          "404": {
            "description": "La donnée est indisponible"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/HYCOM2D-WARO": {
      "get": {
        "tags": [
          "SURCOTE AROME ATL"
        ],
        "summary": "Obtenir une description du modèle",
        "description": "Renvoie une description du modèle HYCOM2D.",
        "operationId": "getHWAROModel",
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/HYCOM2D-WARO/grids": {
      "get": {
        "tags": [
          "SURCOTE AROME ATL"
        ],
        "summary": "Télécharger la liste des grilles disponibles pour ce modèle.",
        "description": "Renvoie la liste des grilles disponibles pour ce modèle.",
        "operationId": "getHWAROGrids",
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          },
          "406": {
            "description": "Erreur de paramètre"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/HYCOM2D-WARO/grids/{grid}": {
      "get": {
        "tags": [
          "SURCOTE AROME ATL"
        ],
        "summary": "Obtenir une description de la grille",
        "description": "Renvoie une description de la grille",
        "operationId": "getHWAROGrid",
        "parameters": [
          {
            "name": "grid",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          },
          "406": {
            "description": "Erreur de paramètre"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/HYCOM2D-WARO/grids/{grid}/packages": {
      "get": {
        "tags": [
          "SURCOTE AROME ATL"
        ],
        "summary": "Télécharger la liste des types de paquet disponibles pour ce modèle et une grille.",
        "description": "Renvoie la liste des types de paquet disponibles pour ce modèle et une grille.",
        "operationId": "getHWAROPackages",
        "parameters": [
          {
            "name": "grid",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          },
          "406": {
            "description": "Erreur de paramètre"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/HYCOM2D-WARO/grids/{grid}/packages/{package}": {
      "get": {
        "tags": [
          "SURCOTE AROME ATL"
        ],
        "summary": "Obtenir une description du paquet et la liste des produits disponibles",
        "description": "Renvoie ne description du paquet",
        "operationId": "getHWAROPackage",
        "parameters": [
          {
            "name": "grid",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "package",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referencetime",
            "in": "query",
            "description": "La date et heure du réseau de diffusion (au format ISO-8601 avec TZ UTC `AAAA-MM-JJThh:mm:ssZ`)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK\n\n**Note** : Format texte json.\n",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "text"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de format"
          },
          "406": {
            "description": "Erreur de paramètre"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/models/HYCOM2D-WARO/grids/{grille}/packages/{paquet}/productHWARO": {
      "get": {
        "tags": [
          "SURCOTE AROME ATL"
        ],
        "summary": "Télécharger via un web service de type REST le fichier de données pour une combinaison de grille/réseau/échéance/paquet",
        "description": "Renvoie un regroupement des paramètres du modèle HYCOM2D disponibles pour une combinaison grille/réseau/échéance/paquet",
        "operationId": "getHWAROProduct",
        "parameters": [
          {
            "name": "grille",
            "in": "path",
            "description": "La grille du modèle",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "paquet",
            "in": "path",
            "description": "Le paquet de paramètres",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referencetime",
            "in": "query",
            "description": "La date et heure du réseau de diffusion (au format ISO-8601 avec TZ UTC `AAAA-MM-JJThh:mm:ssZ`)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "L'échéance demandée (au format `hhhH` ou `hhhHhhhH`)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format de retour des données",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "grib2",
                "txt"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Le format est incorrect"
          },
          "404": {
            "description": "La donnée est indisponible"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/productHWARO": {
      "get": {
        "tags": [
          "SURCOTE AROME ATL"
        ],
        "summary": "Télécharger via un web service de type KVP le fichier de données pour une combinaison de grille/réseau/échéance/paquet",
        "description": "Renvoie un regroupement des paramètres du modèle HYCOM2D disponibles pour une combinaison grille/réseau/échéance/paquet",
        "operationId": "getHWAROProductKVP",
        "parameters": [
          {
            "name": "grid",
            "in": "query",
            "description": "La grille du modèle",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "package",
            "in": "query",
            "description": "Le paquet de paramètres",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referencetime",
            "in": "query",
            "description": "La date et heure du réseau de diffusion (au format ISO-8601 avec TZ UTC `AAAA-MM-JJThh:mm:ssZ`)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "L'échéance demandée (au format `hhhH` ou `hhhHhhhH`)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format de retour des données",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "grib2",
                "txt"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Le format est incorrect"
          },
          "404": {
            "description": "La donnée est indisponible"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "default": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://public-api.meteofrance.fr/authorize",
            "scopes": {}
          }
        }
      }
    }
  }
}